######################################################################
# Build Tools

.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

target/
!.mvn/wrapper/maven-wrapper.jar

######################################################################
# IDE

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*.zip
*.html

### JRebel ###
rebel.xml

### NetBeans ###
nbproject/private/
build/*
nbbuild/
dist/
nbdist/
.nb-gradle/


######################################################################
# Others
*.log
hs_err_pid*
replay_pid*
*.rdb
query
temp_*
*.xml.versionsBackup
*.swp

!*/build/*.java
!*/build/*.html
!*/build/*.xml


/build-temp/
/node_modules/
/test-screenshots/
/aqua-melody/
/.m2-local/
/.mybatis/*.json
/output/
/logs/
/doc/

######################################################################
# Database migration artifacts (contain data, do NOT commit)
bin/db-backup/