<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yu.oa.mapper.OaNoticeDeptMapper">
    <resultMap type="OaNoticeDept" id="OaNoticeDeptResult">
        <result property="noticeDeptId" column="notice_dept_id"   />
        <result property="noticeId"     column="notice_id"        />
        <result property="deptId"       column="dept_id"          />
        <result property="deptName"     column="dept_name"        />
        <result property="createBy"     column="create_by"        />
        <result property="createTime"   column="create_time"      />
    </resultMap>
    <sql id="selectOaNoticeDeptVo">
        select notice_dept_id, notice_id, dept_id, dept_name, create_by, create_time from oa_notice_dept
    </sql>
    <select id="selectOaNoticeDeptByNoticeDeptId" parameterType="Long" resultMap="OaNoticeDeptResult">
        <include refid="selectOaNoticeDeptVo"/> where notice_dept_id = #{noticeDeptId}
    </select>
    <select id="selectOaNoticeDeptByNoticeId" parameterType="Long" resultMap="OaNoticeDeptResult">
        <include refid="selectOaNoticeDeptVo"/> where notice_id = #{noticeId}
    </select>
    <insert id="insertOaNoticeDept" parameterType="OaNoticeDept" useGeneratedKeys="true" keyProperty="noticeDeptId">
        insert into oa_notice_dept
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="noticeId != null">notice_id,</if>
            <if test="deptId != null">dept_id,</if>
            <if test="deptName != null">dept_name,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="noticeId != null">#{noticeId},</if>
            <if test="deptId != null">#{deptId},</if>
            <if test="deptName != null">#{deptName},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
        </trim>
    </insert>
    <update id="updateOaNoticeDept" parameterType="OaNoticeDept">
        update oa_notice_dept
        <trim prefix="SET" suffixOverrides=",">
            <if test="noticeId != null">notice_id = #{noticeId},</if>
            <if test="deptId != null">dept_id = #{deptId},</if>
            <if test="deptName != null">dept_name = #{deptName},</if>
        </trim>
        where notice_dept_id = #{noticeDeptId}
    </update>
    <delete id="deleteOaNoticeDeptByNoticeId" parameterType="Long">
        delete from oa_notice_dept where notice_id = #{noticeId}
    </delete>
    <delete id="deleteOaNoticeDeptByNoticeDeptIds" parameterType="String">
        delete from oa_notice_dept where notice_dept_id in
        <foreach item="noticeDeptId" collection="array" open="(" separator="," close=")">#{noticeDeptId}</foreach>
    </delete>
</mapper>
