<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yu.tpm.mapper.TpmScheduleAdjustmentMapper">
    <resultMap type="TpmScheduleAdjustment" id="TpmScheduleAdjustmentResult">
        <result property="adjustId"        column="adjust_id"          />
        <result property="scheduleId"      column="schedule_id"        />
        <result property="adjustType"      column="adjust_type"        />
        <result property="originalDate"    column="original_date"      />
        <result property="newDate"         column="new_date"           />
        <result property="newClassroomId"  column="new_classroom_id"   />
        <result property="newWeekDay"      column="new_week_day"       />
        <result property="newStartPeriod"  column="new_start_period"   />
        <result property="newEndPeriod"    column="new_end_period"     />
        <result property="reason"          column="reason"             />
        <result property="applicant"       column="applicant"          />
        <result property="approveStatus"   column="approve_status"     />
        <result property="approveBy"       column="approve_by"         />
        <result property="approveTime"     column="approve_time"       />
        <result property="approveComment"  column="approve_comment"    />
        <result property="status"          column="status"             />
        <result property="delFlag"         column="del_flag"           />
        <result property="createBy"        column="create_by"          />
        <result property="createTime"      column="create_time"        />
        <result property="updateBy"        column="update_by"          />
        <result property="updateTime"      column="update_time"        />
        <result property="remark"          column="remark"             />
        <result property="courseName"             column="course_name"              />
        <result property="originalClassroomName"  column="original_classroom_name"  />
        <result property="originalWeekDay"        column="original_week_day"        />
        <result property="originalStartPeriod"    column="original_start_period"    />
        <result property="originalEndPeriod"      column="original_end_period"      />
        <result property="newClassName"           column="new_class_name"           />
    </resultMap>

    <sql id="selectTpmScheduleAdjustmentVo">
        select a.adjust_id, a.schedule_id, a.adjust_type, a.original_date, a.new_date,
               a.new_classroom_id, a.new_week_day, a.new_start_period, a.new_end_period,
               a.reason, a.applicant, a.approve_status, a.approve_by, a.approve_time, a.approve_comment,
               a.status, a.del_flag, a.create_by, a.create_time, a.update_by, a.update_time, a.remark,
               cl.course_name as course_name,
               bc.classroom_name as original_classroom_name,
               s.week_day as original_week_day,
               s.start_period as original_start_period,
               s.end_period as original_end_period,
               bc2.classroom_name as new_class_name
        from tpm_schedule_adjustment a
        left join tpm_schedule s on a.schedule_id = s.schedule_id and s.del_flag = '0'
        left join tpm_course_offering o on s.offering_id = o.offering_id
        left join tpm_course_library cl on o.course_id = cl.course_id
        left join brm_classroom bc on s.classroom_id = bc.classroom_id
        left join brm_classroom bc2 on a.new_classroom_id = bc2.classroom_id
    </sql>

    <select id="selectTpmScheduleAdjustmentList" parameterType="TpmScheduleAdjustment" resultMap="TpmScheduleAdjustmentResult">
        <include refid="selectTpmScheduleAdjustmentVo"/>
        <where>
            a.del_flag = '0'
            <if test="scheduleId != null"> and a.schedule_id = #{scheduleId}</if>
            <if test="adjustType != null and adjustType.trim() != ''"> and a.adjust_type = #{adjustType}</if>
            <if test="applicant != null and applicant.trim() != ''"> and a.applicant like concat('%', #{applicant}, '%')</if>
            <if test="approveStatus != null and approveStatus.trim() != ''"> and a.approve_status = #{approveStatus}</if>
            <if test="status != null and status.trim() != ''"> and a.status = #{status}</if>
            <if test="courseName != null and courseName.trim() != ''"> and cl.course_name like concat('%', #{courseName}, '%')</if>
        </where>
        order by a.create_time desc
    </select>

    <select id="selectTpmScheduleAdjustmentByAdjustId" parameterType="Long" resultMap="TpmScheduleAdjustmentResult">
        <include refid="selectTpmScheduleAdjustmentVo"/> where a.adjust_id = #{adjustId} and a.del_flag = '0'
    </select>

    <insert id="insertTpmScheduleAdjustment" parameterType="TpmScheduleAdjustment" useGeneratedKeys="true" keyProperty="adjustId">
        insert into tpm_schedule_adjustment
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="scheduleId != null">schedule_id,</if>
            <if test="adjustType != null and adjustType != ''">adjust_type,</if>
            <if test="originalDate != null">original_date,</if>
            <if test="newDate != null">new_date,</if>
            <if test="newClassroomId != null">new_classroom_id,</if>
            <if test="newWeekDay != null">new_week_day,</if>
            <if test="newStartPeriod != null">new_start_period,</if>
            <if test="newEndPeriod != null">new_end_period,</if>
            <if test="reason != null">reason,</if>
            <if test="applicant != null">applicant,</if>
            <if test="status != null">status,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="remark != null">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="scheduleId != null">#{scheduleId},</if>
            <if test="adjustType != null and adjustType != ''">#{adjustType},</if>
            <if test="originalDate != null">#{originalDate},</if>
            <if test="newDate != null">#{newDate},</if>
            <if test="newClassroomId != null">#{newClassroomId},</if>
            <if test="newWeekDay != null">#{newWeekDay},</if>
            <if test="newStartPeriod != null">#{newStartPeriod},</if>
            <if test="newEndPeriod != null">#{newEndPeriod},</if>
            <if test="reason != null">#{reason},</if>
            <if test="applicant != null">#{applicant},</if>
            <if test="status != null">#{status},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="remark != null">#{remark},</if>
        </trim>
    </insert>

    <update id="updateTpmScheduleAdjustment" parameterType="TpmScheduleAdjustment">
        update tpm_schedule_adjustment
        <trim prefix="SET" suffixOverrides=",">
            <if test="scheduleId != null">schedule_id = #{scheduleId},</if>
            <if test="adjustType != null and adjustType != ''">adjust_type = #{adjustType},</if>
            <if test="originalDate != null">original_date = #{originalDate},</if>
            <if test="newDate != null">new_date = #{newDate},</if>
            <if test="newClassroomId != null">new_classroom_id = #{newClassroomId},</if>
            <if test="newWeekDay != null">new_week_day = #{newWeekDay},</if>
            <if test="newStartPeriod != null">new_start_period = #{newStartPeriod},</if>
            <if test="newEndPeriod != null">new_end_period = #{newEndPeriod},</if>
            <if test="reason != null">reason = #{reason},</if>
            <if test="applicant != null">applicant = #{applicant},</if>
            <if test="approveStatus != null">approve_status = #{approveStatus},</if>
            <if test="approveBy != null">approve_by = #{approveBy},</if>
            <if test="approveTime != null">approve_time = #{approveTime},</if>
            <if test="approveComment != null">approve_comment = #{approveComment},</if>
            <if test="status != null">status = #{status},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where adjust_id = #{adjustId}
    </update>

    <update id="deleteTpmScheduleAdjustmentByAdjustId" parameterType="Long">
        update tpm_schedule_adjustment set del_flag = '2' where adjust_id = #{adjustId}
    </update>

    <update id="deleteTpmScheduleAdjustmentByAdjustIds" parameterType="String">
        update tpm_schedule_adjustment set del_flag = '2' where adjust_id in
        <foreach item="adjustId" collection="array" open="(" separator="," close=")">#{adjustId}</foreach>
    </update>
</mapper>
