<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yu.tpm.mapper.TpmSelectionRoundMapper">
    <resultMap type="TpmSelectionRound" id="TpmSelectionRoundResult">
        <result property="roundId"              column="round_id"                />
        <result property="semesterId"           column="semester_id"             />
        <result property="roundName"            column="round_name"              />
        <result property="roundOrder"           column="round_order"             />
        <result property="startTime"            column="start_time"              />
        <result property="endTime"              column="end_time"                />
        <result property="maxCoursesPerStudent" column="max_courses_per_student" />
        <result property="roundStatus"          column="round_status"            />
        <result property="status"               column="status"                  />
        <result property="lotterySeed"          column="lottery_seed"            />
        <result property="lotteryTime"          column="lottery_time"            />
        <result property="delFlag"              column="del_flag"                />
        <result property="createBy"             column="create_by"               />
        <result property="createTime"           column="create_time"             />
        <result property="updateBy"             column="update_by"               />
        <result property="updateTime"           column="update_time"             />
        <result property="remark"               column="remark"                  />
        <result property="semesterName"         column="semester_name"           />
    </resultMap>
    <sql id="selectTpmSelectionRoundVo">
        select r.round_id, r.semester_id, r.round_name, r.round_order, r.start_time, r.end_time, r.max_courses_per_student, r.round_status, r.status, r.lottery_seed, r.lottery_time, r.del_flag, r.create_by, r.create_time, r.update_by, r.update_time, r.remark,
        s.semester_name as semester_name
        from tpm_selection_round r
        left join brm_semester s on r.semester_id = s.semester_id
    </sql>
    <select id="selectTpmSelectionRoundList" parameterType="TpmSelectionRound" resultMap="TpmSelectionRoundResult">
        <include refid="selectTpmSelectionRoundVo"/>
        <where>
            r.del_flag = '0'
            <if test="semesterId != null"> and r.semester_id = #{semesterId}</if>
            <if test="roundName != null and roundName.trim() != ''"> and r.round_name like concat('%', #{roundName}, '%')</if>
            <if test="roundStatus != null and roundStatus.trim() != ''"> and r.round_status = #{roundStatus}</if>
            <if test="status != null and status.trim() != ''"> and r.status = #{status}</if>
        </where>
        order by r.round_order asc
    </select>
    <select id="selectTpmSelectionRoundByRoundId" parameterType="Long" resultMap="TpmSelectionRoundResult">
        <include refid="selectTpmSelectionRoundVo"/> where r.round_id = #{roundId} and r.del_flag = '0'
    </select>
    <insert id="insertTpmSelectionRound" parameterType="TpmSelectionRound" useGeneratedKeys="true" keyProperty="roundId">
        insert into tpm_selection_round
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="semesterId != null">semester_id,</if>
            <if test="roundName != null and roundName != ''">round_name,</if>
            <if test="roundOrder != null">round_order,</if>
            <if test="startTime != null">start_time,</if>
            <if test="endTime != null">end_time,</if>
            <if test="maxCoursesPerStudent != null">max_courses_per_student,</if>
            <if test="roundStatus != null">round_status,</if>
            <if test="status != null">status,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="remark != null">remark,</if>
            del_flag,
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="semesterId != null">#{semesterId},</if>
            <if test="roundName != null and roundName != ''">#{roundName},</if>
            <if test="roundOrder != null">#{roundOrder},</if>
            <if test="startTime != null">#{startTime},</if>
            <if test="endTime != null">#{endTime},</if>
            <if test="maxCoursesPerStudent != null">#{maxCoursesPerStudent},</if>
            <if test="roundStatus != null">#{roundStatus},</if>
            <if test="status != null">#{status},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="remark != null">#{remark},</if>
            '0',
        </trim>
    </insert>
    <update id="updateTpmSelectionRound" parameterType="TpmSelectionRound">
        update tpm_selection_round
        <trim prefix="SET" suffixOverrides=",">
            <if test="semesterId != null">semester_id = #{semesterId},</if>
            <if test="roundName != null and roundName != ''">round_name = #{roundName},</if>
            <if test="roundOrder != null">round_order = #{roundOrder},</if>
            <if test="startTime != null">start_time = #{startTime},</if>
            <if test="endTime != null">end_time = #{endTime},</if>
            <if test="maxCoursesPerStudent != null">max_courses_per_student = #{maxCoursesPerStudent},</if>
            <if test="roundStatus != null">round_status = #{roundStatus},</if>
            <if test="status != null">status = #{status},</if>
            <if test="lotterySeed != null">lottery_seed = #{lotterySeed},</if>
            <if test="lotteryTime != null">lottery_time = #{lotteryTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where round_id = #{roundId}
    </update>
    <update id="deleteTpmSelectionRoundByRoundId" parameterType="Long">
        update tpm_selection_round set del_flag = '2' where round_id = #{roundId}
    </update>
    <update id="deleteTpmSelectionRoundByRoundIds" parameterType="String">
        update tpm_selection_round set del_flag = '2' where round_id in
        <foreach item="roundId" collection="array" open="(" separator="," close=")">#{roundId}</foreach>
    </update>
</mapper>
