<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yu.dis.mapper.DisSyncTaskMapper">
    <resultMap type="DisSyncTask" id="DisSyncTaskResult">
        <result property="taskId"            column="task_id"             />
        <result property="taskName"          column="task_name"           />
        <result property="taskCode"          column="task_code"           />
        <result property="systemId"          column="system_id"           />
        <result property="interfaceId"       column="interface_id"        />
        <result property="cronExpression"    column="cron_expression"     />
        <result property="lastExecuteTime"   column="last_execute_time"   />
        <result property="nextExecuteTime"   column="next_execute_time"   />
        <result property="executeCount"      column="execute_count"       />
        <result property="failCount"         column="fail_count"          />
        <result property="syncMode"          column="sync_mode"           />
        <result property="lastWatermark"     column="last_watermark"      />
        <result property="status"            column="status"              />
        <result property="createBy"          column="create_by"           />
        <result property="createTime"        column="create_time"         />
        <result property="updateBy"          column="update_by"           />
        <result property="updateTime"        column="update_time"         />
        <result property="remark"            column="remark"              />
    </resultMap>
    <sql id="selectDisSyncTaskVo">select task_id, task_name, task_code, system_id, interface_id, cron_expression, last_execute_time, next_execute_time, execute_count, fail_count, sync_mode, last_watermark, status, create_by, create_time, update_by, update_time, remark from dis_sync_task</sql>
    <select id="selectDisSyncTaskList" parameterType="DisSyncTask" resultMap="DisSyncTaskResult">
        <include refid="selectDisSyncTaskVo"/><where>
            <if test="taskName != null and taskName.trim() != ''"> and task_name like concat('%', #{taskName}, '%')</if>
            <if test="taskCode != null and taskCode.trim() != ''"> and task_code = #{taskCode}</if>
            <if test="systemId != null"> and system_id = #{systemId}</if>
            <if test="status != null and status.trim() != ''"> and status = #{status}</if>
        </where> order by task_id
    </select>
    <select id="selectDisSyncTaskByTaskId" parameterType="Long" resultMap="DisSyncTaskResult"><include refid="selectDisSyncTaskVo"/> where task_id = #{taskId}</select>
    <select id="selectDueSyncTasks" parameterType="java.util.Date" resultMap="DisSyncTaskResult">
        <include refid="selectDisSyncTaskVo"/>
        where status = '0' and (next_execute_time is null or next_execute_time &lt;= #{now})
        order by task_id
    </select>
    <insert id="insertDisSyncTask" parameterType="DisSyncTask" useGeneratedKeys="true" keyProperty="taskId">insert into dis_sync_task
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="taskName != null and taskName != ''">task_name,</if><if test="taskCode != null and taskCode != ''">task_code,</if>
            <if test="systemId != null">system_id,</if><if test="interfaceId != null">interface_id,</if>
            <if test="cronExpression != null">cron_expression,</if><if test="syncMode != null">sync_mode,</if><if test="lastWatermark != null">last_watermark,</if><if test="status != null">status,</if>
            <if test="createBy != null">create_by,</if><if test="createTime != null">create_time,</if><if test="remark != null">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="taskName != null and taskName != ''">#{taskName},</if><if test="taskCode != null and taskCode != ''">#{taskCode},</if>
            <if test="systemId != null">#{systemId},</if><if test="interfaceId != null">#{interfaceId},</if>
            <if test="cronExpression != null">#{cronExpression},</if><if test="syncMode != null">#{syncMode},</if><if test="lastWatermark != null">#{lastWatermark},</if><if test="status != null">#{status},</if>
            <if test="createBy != null">#{createBy},</if><if test="createTime != null">#{createTime},</if><if test="remark != null">#{remark},</if>
        </trim>
    </insert>
    <update id="updateDisSyncTask" parameterType="DisSyncTask">update dis_sync_task
        <trim prefix="SET" suffixOverrides=",">
            <if test="taskName != null and taskName != ''">task_name = #{taskName},</if><if test="taskCode != null and taskCode != ''">task_code = #{taskCode},</if>
            <if test="systemId != null">system_id = #{systemId},</if><if test="interfaceId != null">interface_id = #{interfaceId},</if>
            <if test="cronExpression != null">cron_expression = #{cronExpression},</if><if test="lastExecuteTime != null">last_execute_time = #{lastExecuteTime},</if>
            <if test="nextExecuteTime != null">next_execute_time = #{nextExecuteTime},</if><if test="executeCount != null">execute_count = #{executeCount},</if>
            <if test="failCount != null">fail_count = #{failCount},</if><if test="syncMode != null">sync_mode = #{syncMode},</if><if test="lastWatermark != null">last_watermark = #{lastWatermark},</if><if test="status != null">status = #{status},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if><if test="updateTime != null">update_time = #{updateTime},</if><if test="remark != null">remark = #{remark},</if>
        </trim> where task_id = #{taskId}
    </update>
    <delete id="deleteDisSyncTaskByTaskId" parameterType="Long">delete from dis_sync_task where task_id = #{taskId}</delete>
    <delete id="deleteDisSyncTaskByTaskIds" parameterType="String">delete from dis_sync_task where task_id in <foreach item="taskId" collection="array" open="(" separator="," close=")">#{taskId}</foreach></delete>
</mapper>
