<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yu.aem.mapper.AemGradeReviewMapper">
    <resultMap type="AemGradeReview" id="AemGradeReviewResult">
        <result property="reviewId"       column="review_id"        />
        <result property="gradeId"        column="grade_id"         />
        <result property="studentId"      column="student_id"       />
        <result property="courseId"       column="course_id"        />
        <result property="originalScore"  column="original_score"   />
        <result property="newScore"       column="new_score"        />
        <result property="reviewReason"   column="review_reason"    />
        <result property="reviewType"     column="review_type"      />
        <result property="approveStatus"  column="approve_status"   />
        <result property="approveBy"      column="approve_by"       />
        <result property="approveTime"    column="approve_time"     />
        <result property="approveOpinion" column="approve_opinion"  />
        <result property="status"         column="status"           />
        <result property="createBy"       column="create_by"        />
        <result property="createTime"     column="create_time"      />
        <result property="updateBy"       column="update_by"        />
        <result property="updateTime"     column="update_time"      />
        <result property="remark"         column="remark"           />
    </resultMap>
    <sql id="selectAemGradeReviewVo">
        select review_id, grade_id, student_id, course_id, original_score, new_score, review_reason, review_type, approve_status, approve_by, approve_time, approve_opinion, status, create_by, create_time, update_by, update_time, remark from aem_grade_review
    </sql>
    <select id="selectAemGradeReviewList" parameterType="AemGradeReview" resultMap="AemGradeReviewResult">
        <include refid="selectAemGradeReviewVo"/>
        <where>
            <if test="gradeId != null"> and grade_id = #{gradeId}</if>
            <if test="studentId != null"> and student_id = #{studentId}</if>
            <if test="courseId != null"> and course_id = #{courseId}</if>
            <if test="reviewType != null and reviewType.trim() != ''"> and review_type = #{reviewType}</if>
            <if test="approveStatus != null and approveStatus.trim() != ''"> and approve_status = #{approveStatus}</if>
        </where>
    </select>
    <select id="selectAemGradeReviewByReviewId" parameterType="Long" resultMap="AemGradeReviewResult">
        <include refid="selectAemGradeReviewVo"/> where review_id = #{reviewId}
    </select>
    <insert id="insertAemGradeReview" parameterType="AemGradeReview" useGeneratedKeys="true" keyProperty="reviewId">
        insert into aem_grade_review
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="gradeId != null">grade_id,</if>
            <if test="studentId != null">student_id,</if>
            <if test="courseId != null">course_id,</if>
            <if test="originalScore != null">original_score,</if>
            <if test="newScore != null">new_score,</if>
            <if test="reviewReason != null">review_reason,</if>
            <if test="reviewType != null">review_type,</if>
            <if test="approveStatus != null">approve_status,</if>
            <if test="approveBy != null">approve_by,</if>
            <if test="approveTime != null">approve_time,</if>
            <if test="approveOpinion != null">approve_opinion,</if>
            <if test="status != null">status,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="remark != null">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="gradeId != null">#{gradeId},</if>
            <if test="studentId != null">#{studentId},</if>
            <if test="courseId != null">#{courseId},</if>
            <if test="originalScore != null">#{originalScore},</if>
            <if test="newScore != null">#{newScore},</if>
            <if test="reviewReason != null">#{reviewReason},</if>
            <if test="reviewType != null">#{reviewType},</if>
            <if test="approveStatus != null">#{approveStatus},</if>
            <if test="approveBy != null">#{approveBy},</if>
            <if test="approveTime != null">#{approveTime},</if>
            <if test="approveOpinion != null">#{approveOpinion},</if>
            <if test="status != null">#{status},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="remark != null">#{remark},</if>
        </trim>
    </insert>
    <update id="updateAemGradeReview" parameterType="AemGradeReview">
        update aem_grade_review
        <trim prefix="SET" suffixOverrides=",">
            <if test="gradeId != null">grade_id = #{gradeId},</if>
            <if test="studentId != null">student_id = #{studentId},</if>
            <if test="courseId != null">course_id = #{courseId},</if>
            <if test="originalScore != null">original_score = #{originalScore},</if>
            <if test="newScore != null">new_score = #{newScore},</if>
            <if test="reviewReason != null">review_reason = #{reviewReason},</if>
            <if test="reviewType != null">review_type = #{reviewType},</if>
            <if test="approveStatus != null">approve_status = #{approveStatus},</if>
            <if test="approveBy != null">approve_by = #{approveBy},</if>
            <if test="approveTime != null">approve_time = #{approveTime},</if>
            <if test="approveOpinion != null">approve_opinion = #{approveOpinion},</if>
            <if test="status != null">status = #{status},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where review_id = #{reviewId}
    </update>
    <delete id="deleteAemGradeReviewByReviewId" parameterType="Long">
        delete from aem_grade_review where review_id = #{reviewId}
    </delete>
    <delete id="deleteAemGradeReviewByReviewIds" parameterType="String">
        delete from aem_grade_review where review_id in
        <foreach item="reviewId" collection="array" open="(" separator="," close=")">#{reviewId}</foreach>
    </delete>
</mapper>
