<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yu.brm.mapper.BrmBuildingMapper">
    <resultMap type="BrmBuilding" id="BrmBuildingResult">
        <result property="buildingId"    column="building_id"     />
        <result property="buildingName"  column="building_name"   />
        <result property="buildingCode"  column="building_code"   />
        <result property="campusId"      column="campus_id"       />
        <result property="floorCount"    column="floor_count"     />
        <result property="status"        column="status"          />
        <result property="createBy"      column="create_by"       />
        <result property="createTime"    column="create_time"     />
        <result property="updateBy"      column="update_by"       />
        <result property="updateTime"    column="update_time"     />
       <result property="remark"        column="remark"          />
        <result property="campusName"    column="campus_name"     />
    </resultMap>
    <sql id="selectBrmBuildingVo">select building_id, building_name, building_code, campus_id, floor_count, status, create_by, create_time, update_by, update_time, remark from brm_building</sql>
    <select id="selectBrmBuildingList" parameterType="BrmBuilding" resultMap="BrmBuildingResult">
        select b.building_id, b.building_name, b.building_code, b.campus_id, b.floor_count, b.status, b.create_by, b.create_time, b.update_by, b.update_time, b.remark,
               c.campus_name as campus_name
        from brm_building b
        left join brm_campus c on b.campus_id = c.campus_id
        <where>
            <if test="buildingName != null and buildingName.trim() != ''"> and b.building_name like concat('%', #{buildingName}, '%')</if>
            <if test="campusId != null"> and b.campus_id = #{campusId}</if>
            <if test="status != null and status.trim() != ''"> and b.status = #{status}</if>
        </where>
    </select>
    <select id="selectBrmBuildingByBuildingId" parameterType="Long" resultMap="BrmBuildingResult"><include refid="selectBrmBuildingVo"/> where building_id = #{buildingId}</select>
    <insert id="insertBrmBuilding" parameterType="BrmBuilding" useGeneratedKeys="true" keyProperty="buildingId">insert into brm_building
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="buildingName != null and buildingName != ''">building_name,</if><if test="buildingCode != null">building_code,</if>
            <if test="campusId != null">campus_id,</if><if test="floorCount != null">floor_count,</if>
            <if test="status != null">status,</if><if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if><if test="remark != null">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="buildingName != null and buildingName != ''">#{buildingName},</if><if test="buildingCode != null">#{buildingCode},</if>
            <if test="campusId != null">#{campusId},</if><if test="floorCount != null">#{floorCount},</if>
            <if test="status != null">#{status},</if><if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if><if test="remark != null">#{remark},</if>
        </trim>
    </insert>
    <update id="updateBrmBuilding" parameterType="BrmBuilding">update brm_building
        <trim prefix="SET" suffixOverrides=",">
            <if test="buildingName != null and buildingName != ''">building_name = #{buildingName},</if><if test="buildingCode != null">building_code = #{buildingCode},</if>
            <if test="campusId != null">campus_id = #{campusId},</if><if test="floorCount != null">floor_count = #{floorCount},</if>
            <if test="status != null">status = #{status},</if><if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if><if test="remark != null">remark = #{remark},</if>
        </trim> where building_id = #{buildingId}
    </update>
    <delete id="deleteBrmBuildingByBuildingId" parameterType="Long">delete from brm_building where building_id = #{buildingId}</delete>
    <delete id="deleteBrmBuildingByBuildingIds" parameterType="String">delete from brm_building where building_id in <foreach item="buildingId" collection="array" open="(" separator="," close=")">#{buildingId}</foreach></delete>
</mapper>
