<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yu.brm.mapper.BrmClassroomBorrowMapper">
    <resultMap type="BrmClassroomBorrow" id="BrmClassroomBorrowResult">
        <result property="borrowId"       column="borrow_id"       />
        <result property="classroomId"    column="classroom_id"    />
        <result property="applicant"      column="applicant"       />
        <result property="applicantDept"  column="applicant_dept"  />
        <result property="borrowDate"     column="borrow_date"     />
        <result property="startTime"      column="start_time"      />
        <result property="endTime"        column="end_time"        />
        <result property="purpose"        column="purpose"         />
        <result property="approveStatus"  column="approve_status"  />
        <result property="approveBy"      column="approve_by"      />
        <result property="approveTime"    column="approve_time"    />
        <result property="status"         column="status"          />
        <result property="createBy"       column="create_by"       />
        <result property="createTime"     column="create_time"     />
        <result property="updateBy"       column="update_by"       />
        <result property="updateTime"     column="update_time"     />
        <result property="remark"         column="remark"          />
    </resultMap>
    <sql id="selectBrmClassroomBorrowVo">
        select borrow_id, classroom_id, applicant, applicant_dept, borrow_date, start_time, end_time, purpose, approve_status, approve_by, approve_time, status, create_by, create_time, update_by, update_time, remark from brm_classroom_borrow
    </sql>
    <select id="selectBrmClassroomBorrowList" parameterType="BrmClassroomBorrow" resultMap="BrmClassroomBorrowResult">
        <include refid="selectBrmClassroomBorrowVo"/>
        <where>
            <if test="classroomId != null"> and classroom_id = #{classroomId}</if>
            <if test="applicant != null and applicant.trim() != ''"> and applicant like concat('%', #{applicant}, '%')</if>
            <if test="approveStatus != null and approveStatus.trim() != ''"> and approve_status = #{approveStatus}</if>
            <if test="status != null and status.trim() != ''"> and status = #{status}</if>
            <if test="borrowDate != null"> and borrow_date = #{borrowDate}</if>
        </where>
    </select>
    <select id="selectBrmClassroomBorrowByBorrowId" parameterType="Long" resultMap="BrmClassroomBorrowResult">
        <include refid="selectBrmClassroomBorrowVo"/> where borrow_id = #{borrowId}
    </select>
    <insert id="insertBrmClassroomBorrow" parameterType="BrmClassroomBorrow" useGeneratedKeys="true" keyProperty="borrowId">
        insert into brm_classroom_borrow
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="classroomId != null">classroom_id,</if>
            <if test="applicant != null and applicant != ''">applicant,</if>
            <if test="applicantDept != null">applicant_dept,</if>
            <if test="borrowDate != null">borrow_date,</if>
            <if test="startTime != null">start_time,</if>
            <if test="endTime != null">end_time,</if>
            <if test="purpose != null">purpose,</if>
            <if test="approveStatus != null">approve_status,</if>
            <if test="approveBy != null">approve_by,</if>
            <if test="approveTime != null">approve_time,</if>
            <if test="status != null">status,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="remark != null">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="classroomId != null">#{classroomId},</if>
            <if test="applicant != null and applicant != ''">#{applicant},</if>
            <if test="applicantDept != null">#{applicantDept},</if>
            <if test="borrowDate != null">#{borrowDate},</if>
            <if test="startTime != null">#{startTime},</if>
            <if test="endTime != null">#{endTime},</if>
            <if test="purpose != null">#{purpose},</if>
            <if test="approveStatus != null">#{approveStatus},</if>
            <if test="approveBy != null">#{approveBy},</if>
            <if test="approveTime != null">#{approveTime},</if>
            <if test="status != null">#{status},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="remark != null">#{remark},</if>
        </trim>
    </insert>
    <update id="updateBrmClassroomBorrow" parameterType="BrmClassroomBorrow">
        update brm_classroom_borrow
        <trim prefix="SET" suffixOverrides=",">
            <if test="classroomId != null">classroom_id = #{classroomId},</if>
            <if test="applicant != null and applicant != ''">applicant = #{applicant},</if>
            <if test="applicantDept != null">applicant_dept = #{applicantDept},</if>
            <if test="borrowDate != null">borrow_date = #{borrowDate},</if>
            <if test="startTime != null">start_time = #{startTime},</if>
            <if test="endTime != null">end_time = #{endTime},</if>
            <if test="purpose != null">purpose = #{purpose},</if>
            <if test="approveStatus != null">approve_status = #{approveStatus},</if>
            <if test="approveBy != null">approve_by = #{approveBy},</if>
            <if test="approveTime != null">approve_time = #{approveTime},</if>
            <if test="status != null">status = #{status},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where borrow_id = #{borrowId}
    </update>
    <delete id="deleteBrmClassroomBorrowByBorrowId" parameterType="Long">
        delete from brm_classroom_borrow where borrow_id = #{borrowId}
    </delete>
    <delete id="deleteBrmClassroomBorrowByBorrowIds" parameterType="String">
        delete from brm_classroom_borrow where borrow_id in
        <foreach item="borrowId" collection="array" open="(" separator="," close=")">#{borrowId}</foreach>
    </delete>
</mapper>
